main {
  padding: 10px;
  margin: 10px;
}
aside {
  width: 200px;
  padding: 10px;
  margin: 10px;
  height: 100vh;
  float: left;
  
}
img {
  float: left;
  margin: 15px 15px 15px 15px;
}

tr:nth-child(even) {
  background-color: rgb(196, 238, 254);
}
